.CodeMirror
{
    height: 564px;
}

.code-mirrors-container div.form-control
{
    height: 580px;
}

.code-mirrors-container
{
    margin-top: 11px;
}

.alert
{
    margin-top: 4px;
    margin-bottom: 0;
    font-family: monospace;
    font-size: 15px;
    white-space: pre;
    overflow: hidden;
}

select.form-control
{
    height: 37px;
}

@media (min-width: 1366px) {
  .container {
    width: 1336px;
  }
}

@media (min-width: 1600px) {
  .container {
    width: 1570px;
  }
}

#demo
{
    padding-top: 46px;
}

.well.errorish
{
    background-color: rgb(255, 245, 245);
}

legend span
{
    float: right;
    cursor: pointer;
    margin-left: 15px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: -10px;
}

    legend span:hover
    {
        color: #00526e;
    }

.fork-me-on-github
{
    position: absolute;
    top: 45px;
    right: 0;
    border: 0;
    z-index: 1;
}

.well.download a
{
    display: inline-block;
    margin-left: 12px;
}